{% extends "base.html" %} 
{% block title %} Избранные авторы {% endblock %}

{% block content %}
{% include "menu.html" %}
<main role="main" class="container">
<div class="row">
        <h1> Последние обновления избранных авторов</h1>
        {% for post in page %}
                {% include "post_item.html" with post=post %}
        {% endfor %}

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with current_page=page paginator=paginator%}
        {% endif %}
</div>
</main>
{% endblock %}
